/* 백 그라운드 */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--ivory);
}

/* 메인 대시보드 */
.dashboard {
  min-width: 1200px;
  width: 70%;
  height: 95%;
  background: var(--beige);
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소를 배치 */
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(99, 78, 54, 0.3);
}

* {
  border-radius: 20px;
}

i {
  cursor: pointer;
}

/* 헤더 */
header {
  width: 100%;
  height: 10%;
  min-height: 80px;
  display: flex;
  padding: 30px;
  color: var(--ivory);
  background: var(--deep-pink);
  position: sticky;
  box-shadow: 0 0 10px 0 rgba(110, 13, 13, 0.3);
}
header h1 {
  font-weight: bold;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
}
header nav div:first-child {
  font-size: 18px;
  flex: 1;
  display: flex;
}
header nav div:nth-child(2) {
  flex: 3;
  text-align: center;
  font-size: 34px;
}
header nav div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header nav div:last-child i {
  margin-left: 60px;
}

/* 사이드 바 */
aside {
  min-width: 100px;
  min-height: 100%;
  width: 8%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background: var(--yellow-green);
  box-shadow: 0 0 10px 0 rgba(68, 82, 17, 0.3);
}
aside ul {
  list-style-type: none;
  padding: 0;
}
aside li {
  color: var(--ivory);
}
aside nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}
aside nav div:first-child {
  flex: 1;
}
aside nav div:first-child i {
  margin-bottom: 70px;
}
aside nav div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}
