/* 백 그라운드 */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--ivory);
}

/* 메인 대시보드 */
.dashboard {
  min-width: 1200px;
  width: 70%;
  height: 95%;
  background: var(--beige);
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소를 배치 */
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(99, 78, 54, 0.3);
}

* {
  border-radius: 20px;
}
