/* Reset Style Code  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
}
input,
button,
textarea {
  outline: 0;
}

/* Main Layout Code  */
body {
  font-size: 14px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
