<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 올리기</title>
    <!-- css 연결 -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/variables.css" />
    <!-- js 연결 -->
    <script src="../static/js/common.js" type="module" defer></script>
    <script type="module" src="../static/js/create-post.js" defer></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="background">
      <!-- Main Dashboard Frame  -->
      <div class="dashboard">
        <header>
          <h1><i class="fa-solid fa-compact-disc fa-lg"></i></h1>
          <a href="#"><h1>플리플리</h1></a>
          <nav>
            <ul>
              <!-- mypage icon -->
              <li>
                <i class="fa-solid fa-user fa-2xl" id="nav-mypage-button"></i>
              </li>

              <!-- login -->
              <li><i class="fa-solid fa-right-to-bracket fa-2xl id="nav-login-button"></i></li>
              <!-- logout icon -->
              <!-- <li>
                <i
                  class="fa-solid fa-right-from-bracket fa-2xl"
                  id="nav-logout-button"
                ></i> -->
              </li>
            </ul>
          </nav>
        </header>

        <div class="section-container">
          <aside>
            <nav>
              <div>
                <ul>
                  <li>
                    <!-- home icon -->
                    <i
                      class="fa-solid fa-house fa-2xl"
                      id="nav-main-button"
                    ></i>
                  </li>
                  <li>
                    <!-- write icon -->
                    <i class="fa-solid fa-pen fa-2xl" id="nav-write-button"></i>
                  </li>
                </ul>
              </div>

              <div>
                <ul>
                  <!-- note icon -->
                  <li><i class="fa-solid fa-music fa-2xl"></i></li>
                </ul>
              </div>
            </nav>
          </aside>

          <section>
            <div class="wirtebox_container">
              <div class="wirte_box">
                <h2>노래 추천 글쓰기</h2>
                <div class="info">
                  <div class="user">
                    <p>작성자</p>
                    <input type="text" />
                  </div>
                  <div class="song_title_input">
                    <p id="song_titel">노래제목</p>
                    <input type="text" />
                  </div>
                  <div class="artist_input">
                    <p id="artist">가수</p>
                    <input type="text" />
                  </div>
                </div>
                <div class="uploadfile">
                  파일 업로드
                  <input id="image_upload" type="file" />
                  <button id="upload_button">올리기</button>
                </div>
              </div>
              <div class="graph-ui"></div>
              <div class="each-pofol">
                <div class="each-graph">
                  <div class="db-pofol"></div>
                  <div class="api-pofol"></div>
                  <div class="renewal-pofol"></div>
                  <div class="panning-pofol"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/caa7486ade.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
