<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../static/css/style.css" />
    
    <!-- JS 파일 연결 -->
    <script src="../static/js/common.js" type="module" defer></script>
    <script src="../static/js/detail.js" type="module" defer></script>
  </head>
  <body>
    <div class="background">
      <div class="dashboard">
        <!-- 헤더 -->
        <header>
          <nav>
            <div>
              <!-- cd icon -->
              <h1><i class="fa-solid fa-compact-disc fa-2xl"></i></h1>
            </div>

            <div>
              <a href="#"><h1>플리 플리</h1></a>
            </div>

            <div>
              <ul>
                <!-- signUp icon -->
                <li>
                  <i
                    class="fa-solid fa-user-plus fa-2xl"
                    id="nav-signup-button"
                  ></i>
                </li>
                <!-- mypage icon -->
                <!-- <li>
                <i class="fa-solid fa-user fa-2xl" id="nav-mypage-button"></i>
              </li> -->

                <!-- login icon -->
                <li>
                  <i
                    class="fa-solid fa-right-to-bracket fa-2xl"
                    id="nav-login-button"
                  ></i>
                </li>

                <!-- logout icon -->
                <!-- <li>
                <i
                  class="fa-solid fa-right-from-bracket fa-2xl"
                  id="nav-logout-button"
                ></i>
              </li> -->
              </ul>

              <!-- login icon -->
            </div>
          </nav>
        </header>

        <!-- 섹션 컨테이너  -->
        <div class="section-container">
          <!-- 사이드 바 -->
          <aside>
            <nav>
              <div>
                <ul>
                  <li>
                    <!-- home icon -->
                    <i
                      class="fa-solid fa-house fa-2xl"
                      id="nav-main-button"
                    ></i>
                  </li>
                  <li>
                    <!-- write icon -->
                    <i class="fa-solid fa-pen fa-2xl" id="nav-write-button"></i>
                  </li>
                </ul>
              </div>

              <div>
                <ul>
                  <!-- note icon -->
                  <li><i class="fa-solid fa-music fa-2xl"></i></li>
                </ul>
              </div>
            </nav>
          </aside>
          
          <div class="detail__container">
            <div class="detail__body">
              <div class="detail__left">
                <div class="detail__image"><img src="" alt="post-image" id="postImage"/></div>
                <div class="detail__date" id="createDate">
                  <p>작성 날짜</p>
                </div>
                <div class="detail__user" id="createUser">
                  <p>작성자</p>
                </div>
                <div class="detail__content" id="postContent">
                  <p>본문</p>
                </div>
              </div>
              <div class="detail__right">
                <div class="detail__right__header">댓글을 달아주세요</div>
                <div class="detail__right__body" id="comment-container">
                  <div class="detail__comment" id="comment">
                    <div class="detail__comment_user-wrapper">
                      <div class="detail__comment__profile"><img id="commentUserProfile"/></div>
                      <div class="detail__comment__user"><p id="commentUser">작성자</p></div>
                    </div>
                    <div class="detail__comment__content"><p id="commentContent">내용내용내용내용내용내용내용</p></div>
                  </div>
                </div>
                <div class="detail__right__footer">
                  <input class="comment__input" type="text" id="comment-input"/>
                  <button class="comment__button" id="comment-button" ><i class="fa-regular fa-paper-plane"></i> </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
        
        <script
        src="https://kit.fontawesome.com/caa7486ade.js"
        crossorigin="anonymous"
      ></script>        
</body>
</html>

