<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3 mini</title>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="background">
      <!-- Main Dashboard Frame  -->
      <div class="dashboard">
        <header>
          <h1><i class="fa-solid fa-compact-disc fa-lg"></i></h1>
          <a href="#"><h1>플리플리</h1></a>
          <nav>
            <ul>
              <a href="#"
                ><li><i class="fa-solid fa-user fa-2xl"></i></li
              ></a>
              <!-- login -->
              <a href="#"
                ><li><i class="fa-solid fa-right-to-bracket fa-2xl"></i></li
              ></a>
              <!-- logout -->
              <!-- <li>
                <a href="#"
                  ><i class="fa-solid fa-right-from-bracket fa-2xl"></i
                ></a>
              </li> -->
            </ul>
          </nav>
        </header>

        <div class="section-container">
          <aside>
            <nav>
              <!-- 흠 ㅠㅠ 홈키? 작성? 뭔가 맘에안듬 위치가 일단 넣고본다 -->
              <ul>
                <li>
                  <a href="#"><i class="fa-solid fa-house fa-2xl"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-pen fa-2xl"></i></a>
                  <!-- <a href="#"><i class="fa-solid fa-eraser fa-2xl"></i></a> -->
                </li>
              </ul>
            </nav>
          </aside>

          <section>
            <div class="graph-ui">
              <div class="each-pofol">
                <div class="each-graph">
                  <div class="db-pofol"></div>
                  <div class="api-pofol"></div>
                  <div class="renewal-pofol"></div>
                  <div class="panning-pofol"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/caa7486ade.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
