<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3 mini</title>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="background">
      <div class="dashboard">
        <!-- 헤더 -->
        <header>
          <nav>
            <div>
              <!-- cd icon -->
              <h1><i class="fa-solid fa-compact-disc fa-2xl"></i></h1>
            </div>

            <div>
              <a href="#"><h1>플리 플리</h1></a>
            </div>

            <div>
              <ul>
                <!-- mypage icon -->
                <a href="#"
                  ><li><i class="fa-solid fa-user fa-2xl"></i></li
                ></a>
                <!-- login icon -->
                <a href="#"
                  ><li><i class="fa-solid fa-right-to-bracket fa-2xl"></i></li
                ></a>
              </ul>
              <!-- logout icon -->
              <!-- <li>
                <a href="#"
                  ><i class="fa-solid fa-right-from-bracket fa-2xl"></i
                ></a>
              </li> -->
            </div>
          </nav>
        </header>

        <!-- 섹션 컨테이너  -->
        <div class="section-container">
          <!-- 사이드 바 -->
          <aside>
            <nav>
              <!-- 흠 ㅠㅠ 홈키? 작성? 뭔가 위치가 맘에안듬 일단 넣고본다 -->
              <div>
                <ul>
                  <li>
                    <!-- home icon -->
                    <a href="#"><i class="fa-solid fa-house fa-2xl"></i></a>
                  </li>
                  <li>
                    <!-- write icon -->
                    <a href="#"><i class="fa-solid fa-pen fa-2xl"></i></a>
                    <!-- <a href="#"><i class="fa-solid fa-eraser fa-2xl"></i></a> -->
                  </li>
                </ul>
              </div>

              <div>
                <ul>
                  <!-- note icon -->
                  <li><i class="fa-solid fa-music fa-2xl"></i></li>
                </ul>
              </div>
            </nav>
          </aside>

          <!-- 사진 섹션 -->
          <section class="scroll">
            <div class="photo-section">
              <!-- 1 line -->
              <div class="each-line">
                <!-- photo + info  1set -->
                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="https://hanghae99.spartacodingclub.kr/"
                      ><img
                        src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202305/25/0936d839-0514-405b-91e4-a2d6e2cd6981.jpg"
                    /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>
              </div>

              <!-- 2 line -->
              <div class="each-line">
                <!-- photo + info  1set -->
                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>
              </div>

              <!-- 3 line -->
              <div class="each-line">
                <!-- photo + info  1set -->
                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>
              </div>

              <!-- 4 line -->
              <div class="each-line">
                <!-- photo + info  1set -->
                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>

                <div class="photo-set">
                  <div class="artist-photo">
                    <a href="#"><img src="#" /></a>
                  </div>
                  <div class="photo-info">
                    <p id="tag">#뉴진스</p>
                    <p id="date">2023.08.10<span id="user">두팔쓰</span></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/caa7486ade.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
