<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>

    <!-- css파일 연결 -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- js파일 연결 -->
    <script src="../static/js/login.js" type="module" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="main__left">
          <img src="" alt="login_img" />
        </div>
        <div class="main__right">
          <header class="right__header">
            <h1>프로젝트 이름</h1>
            <h3>로그인</h3>
          </header>
          <body class="right__body">
            <div class="right__body__big-input-wrapper">
              <div class="right__body__input-wrapper">
                <div class="body__input-name">
                  <p>이메일</p>
                </div>
                <input
                  type="text"
                  placeholder="이메일"
                  class="body__input"
                  id="email"
                />
              </div>
              <div class="right__body__input-wrapper">
                <div class="body__input-name">
                  <p>비밀번호</p>
                </div>
                <input
                  type="password"
                  placeholder="비밀번호"
                  class="body__input"
                  id="password"
                />
              </div>
            </div>

            <div class="login__button__wrapper">
              <button class="login__button" id="login-button">로그인</button>
            </div>
          </body>
          <footer class="right__footer">
            <p>회원가입하기</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
