.wirtebox_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wirte_box {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ivory);
}

.wirte_box>h2 {
  background-color: var(--deep-pink);
  padding: 10px;
  border: solid 0px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user, .song_title_input, .artist_input  {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.user>p, .song_title_input>p, .artist_input>p {
  margin-right: 20px;
}

.post_input {
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;
}