.wirtebox_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wirte_box {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ivory);
  box-shadow: 0 0 10px 0 rgba(99, 78, 54, 0.3);
}

.wirte_box>h2 {
  background-color: var(--deep-pink);
  padding: 20px 40px;
  border: solid 1px var(--pink);
  border-radius: 20px;
  font-size: 20px;
  color: white;
}

.info {
  margin: 20px 0 10px 0;
}

.song_title_input, .artist_input  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.song_title_input>p, .artist_input>p {
  width: 100px;
}

.post_input {
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;
}

.img_file {
  width: 180px;
  border-radius: 0;
  
}

#upload_button {
  border: solid 1px var(--deep-pink);
  border-radius: 2px;
  padding: 4px 8px;
  background-color: var(--pink);
}

#upload_button:hover {
  background-color: var(--yellow-green);
}