.detail__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.detail__body{
  display: flex;
  width: 80%;
  height: 80%;
  background-color: var(--pink);
}

.detail__left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6%;
  gap: 20px;
} 

.detail__image {
  width: 100%;
  height: 70%;
}

.detail__date{
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 1rem;
  color: rgb(163, 160, 160);
}
.detail__user {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
}

.detail__content{
  width: 100%;
  display: flex;
  justify-content: start;
}

.detail__right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6% 0 3% 0;
}

.detail__right__header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.detail__right__body{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail__comment{
  width: 95%;
  height: 52px;
  display: flex;
  background-color: var(--ivory);
  align-items: center;
  padding: 0px 12px;

}

.comment__header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment__header p{
  font-size: 1.2rem;
}

.detail__comment_user-wrapper{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.detail__comment__profile{
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.detail__comment__profile img {
  display: block; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}


.detail__comment__content{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
}

.detail__comment__user{
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.detail__right__footer{
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 10%;
}

.comment__input{
  width: 80%;
  height: 50%;
  border: none;
  background-color: white;
  font-size: 1.3rem;
  padding: 16px;
}

.comment__button{
  width: 10%;
  height: 50%;
  border: none;
  background-color: var(--ivory);
}
.comment__button i{
  width: 100%;  
}