* {
  margin: 0;
  padding: 0;
}

p,
h3 {
  color: black;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--ivory);
}

.wrapper {
  min-width: 1200px;
  min-height: 60%;
  display: flex;
  align-items: center;
  background-color: var(--beige);
  border: none;
  border-radius: 20px;
  width: 35%;
  height: 80%;
}
/* .main__left {
  flex: 1.5;
  padding: 10%;
  height: 100%;
  background-color: var(--pink);
  border-radius: 20px;
} */

.main__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  width: 80%;
  height: 50%;
  padding: 0px 15%;
}

.right__header {
  display: flex;
  flex-direction: column;
  justify-self: start;
}
.right__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right__body__big-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.right__body__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.body__input-name {
  display: flex;
  width: 100%;
  justify-content: start;
}
.body__input {
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;
}

.big__login__button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login__button__wrapper {
  display: flex;
  justify-content: center;
}

.login__button {
  display: flex;
  justify-content: center;
  background-color: var(--deep-pink);
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}

.login__button:hover {
  filter: brightness(95%);
  color: white;
}

.right__footer {
  display: flex;
  justify-content: end;
}

.google-btn {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.google-btn:hover{
  filter: brightness(95%);
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

.kakao-btn {
  display: flex;
  justify-content: center;
  background-color: #ffeb00;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.kakao-btn:hover{
  filter: brightness(95%);
}

.kakao-btn img {
  width: 20px;
  margin-right: 10px;
}


.to-signup-btn {
  cursor: pointer;
}

.to-signup-btn:hover {
  cursor: pointer;
  color: rgb(80, 69, 69);
}