* {
  margin: 0;
  padding: 0;
}

p,
h3 {
  color: black;
  font-weight: 600;
}

<<<<<<< Updated upstream
a {
  text-decoration: none;
  color: black;
}
=======
>>>>>>> Stashed changes
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--ivory);
}

.wrapper {
  min-width: 1200px;
  min-height: 95%;
  display: flex;
  align-items: center;
  background-color: var(--beige);
  border: none;
  border-radius: 20px;
  width: 70%;
  height: 60%;
}

.main__left {
  flex: 1.5;
  min-width: 720px;
  height: 100%;
  background-color: var(--pink);
  border-radius: 20px;
}

.main__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  width: 100%;
  height: 50%;
  padding: 0px 5%;
}

.right__header {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.right__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right__body__big-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right__body__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.body__input-name {
  display: flex;
  width: 100%;
  justify-content: start;
}

.body__input {
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;
}

.big__login__button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login__button__wrapper {
  display: flex;
  justify-content: center;
}

.login__button {
  display: flex;
  justify-content: center;
  background-color: var(--deep-pink);
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}

.right__footer {
  display: flex;
  justify-content: end;
}


.google-btn {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}


.kakao-btn {
  display: flex;
  justify-content: center;
  background-color: #FFEB00;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.kakao-btn img {
  width: 20px;
  margin-right: 10px;
}