/* 헤더 */
header {
  width: 100%;
  height: 10%;
  min-height: 80px;
  display: flex;
  padding: 30px;
  color: var(--ivory);
  background: var(--deep-pink);
  position: sticky;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
}

header nav div:first-child {
  font-size: 18px;
  flex: 1;
  display: flex;
}
header nav div:nth-child(2) {
  flex: 3;
  text-align: center;
  font-size: 24px;
}
header nav div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav div:last-child i {
  margin-left: 40px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
}

/* 섹션 컨테이너 */
.section-container {
  /* background-color: aqua; */
  display: flex;
  width: 100%; /* aside와 합쳐지는 너비를 조절하여 section의 크기 설정 */
  height: 90%;
  margin-top: 30px;
}

/* 사이드 바 */
aside {
  width: 8%;
  min-width: 100px;
  height: 100%;
  background: var(--yellow-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
aside ul {
  list-style-type: none;
  padding: 0;
}
aside i {
  color: var(--ivory);
  margin-bottom: 70px;
}

/* 메인 섹션 */
section {
  display: flex;
  min-width: 1000px;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  background: #f3d7ca;
}

section .photo-section {
  min-width: 92%;
  width: 92%;
  height: 90%;
  margin: auto;
  background-color: rgb(255, 0, 255);
}

/* .photo-section > div {
  width: 100%;
  height: 28%;
  background-color: tomato;
} */

.each-photo {
  width: 100%;
  height: 28%;
  min-height: 28%;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.each-photo div {
  background: #fff;
  width: 18%;
}
