* {
  margin: 0;
  padding: 0;
}

p,
h3 {
  color: black;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  color: #555555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--ivory);
}

.wrapper {
  min-width: 1200px;
  min-height: 95%;
  display: flex;
  align-items: center;
  background-color: var(--beige);
  border: none;
  border-radius: 20px;
  width: 70%;
  height: 60%;
}

.main__left {
  flex: 1;
  min-width: 720px;
  height: 100%;
  background-color: var(--pink);
  border-radius: 20px;
}

.main__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1.5;
  width: 100%;
  height: 50%;
  padding: 0px 5%;
}

.right__header {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.right__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right__body__big-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right__body__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.body__input-name {
  display: flex;
  width: 100%;
  justify-content: start;
}

.body__input {
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;
}

.big__signup__button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signup__button__wrapper {
  display: flex;
  justify-content: center;
}

.signup__button {
  display: flex;
  justify-content: center;
  background-color: var(--deep-pink);
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
}
.signup__button:hover{
  background-color: #d3938a; /* 호버 배경색 */
}
.right__footer {
  display: flex;
  justify-content: end;
}




.email_input_container {
  display: flex;
  align-items: left;
  width: 100%;
  margin:0px;
  padding: 0px ;
}

.email_validation_button {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #111111;
  color: white;
  border-radius: 8px;
  padding: 10px 8px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  margin-left: 5px;
}

.email_validation_button:hover {
  background-color: #333333;
  color: #ffffff;
}

.email_input {
  flex: 3;
  height: 36px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--deep-pink);
  padding: 0px 8px;

  margin-right: 5px;
}

.verification_container {
  padding-top: 10px;
  display: none;
}

.verification_input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.verification_button {
  padding: 10px;
  margin-left: 5px;
  background-color: var(--deep-pink); /* 배경색 */
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verification_button:hover {
  background-color: #d3938a; /* 호버 배경색 */
}

.comp_msg{

  color: #00dd00;
  font-size: 15px;
}

.input_validation_error {
  border-color: #ff5555;
}

.validation_error_msg {
  display: flex;
  width: 100%;
  justify-content: start;
  color: #ff4444;
}

